.bigLabel {
  font-size: var(--text-md);
  font-weight: var(--font-weight-semibold);
}

.smallLabel {
  font-size: var(--text-sm);
}

.container {
  color: var(--color, inherit);
  text-align: start;
}
