.pill {
  border-radius: 999px;
}

.rectangle {
  border-radius: 6px;
}

.offStyle {
  border-color: var(--color-dimdim);
  background-color: var(--color-bg);
  transition-property: border-color;
}
.offStyle:hover {
  border-color: var(--color-dim);
}

.default {
  border-width: 1px;
  padding: 8px 12px;
  border-style: solid;
}

.red {
  border-color: var(--color-red);
  background-color: var(--color-red);
  color: var(--color-vivid-inverted);
}

.yellow {
  border-color: var(--color-yellow);
  background-color: var(--color-yellow);
  color: var(--color-vivid-inverted);
}

.blue {
  border-color: var(--color-blue);
  background-color: var(--color-blue);
  color: var(--color-vivid-inverted);
}

.mono {
  background-color: var(--color-vivid);
  color: var(--color-vivid-inverted);
}
